/*
 * primary blue (dark):     rgba(0, 147, 197, 1);
 * primary blue (darker):   rgba(5, 52, 101, 1);
 *
 *
 *
 * primary green (dark):    #51AE75;
 * primary green (darker):  rgba(25, 92, 50, 1);
 *
 *
 *
 * light blue (flyout nav): rgba(131, 182, 201, 1);
 *
 */



body {
    /* font-size: 0.9rem; */
}

a,
a:active,
a:hover,
a:focus,
a:visited {
    color: rgba(120, 120, 120, 1)
}

header {
    padding: 1rem 0;
}

header .logo img {
    width: 100%;
}

header .meta-nav {
    float: right;
}

header a {
    text-transform: uppercase;
}

header .navbar-brand {
    font-size: 1rem;
}

header .meta-nav .nav-item a {
    padding: 1rem;
}


header .navbar {
    background: rgb(40, 40, 40);
    background: -webkit-radial-gradient(bottom left, rgba(120, 120, 120, 1) 0%, rgba(40, 40, 40, 1) 60%);
    background: radial-gradient(at bottom left, rgba(120, 120, 120, 1) 0%, rgba(40, 40, 40, 1) 60%);
}

header .navbar a,
header .navbar a:active,
header .navbar a:hover,
header .navbar a:focus,
header .navbar a:visited {
    color: #fff;
}

header .navbar .nav-item>a {
    padding: 1rem;
}

main .logos a {
    margin: 0.5rem;
    display: inline-block;
}

main .logos a:hover img,
main .logos a:focus img {
    filter: grayscale(0%);
}

main .logos img {
    width: 120px;
    max-height: 150px;

    margin-bottom: 2rem;

    filter: grayscale(100%);
}

footer {
    padding: 4rem 2rem;

    color: #fff;

    background: rgb(40, 40, 40);
    background: -webkit-radial-gradient(bottom left, rgba(120, 120, 120, 1) 0%, rgba(40, 40, 40, 1) 60%);
    background: radial-gradient(at bottom left, rgba(120, 120, 120, 1) 0%, rgba(40, 40, 40, 1) 60%);
}

.base footer a,
.base footer a:active,
.base footer a:hover,
.base footer a:focus,
.base footer a:visited {
    color: #fff;
    text-decoration: underline;
}

.base footer a:hover,
.base footer a:focus {
    text-decoration: overline;
}

/*
 * ICONS
 */
.icon-rss::before {
  display: inline-block;
  content: "";  
  background-image: url("data:image/svg+xml,<svg width='1em' height='1em' viewBox='0 0 16 16' class='bi bi-rss' fill='orange' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z'/><path d='M5.5 12a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z'/><path fill-rule='evenodd' d='M2.5 3.5a1 1 0 0 1 1-1c5.523 0 10 4.477 10 10a1 1 0 1 1-2 0 8 8 0 0 0-8-8 1 1 0 0 1-1-1zm0 4a1 1 0 0 1 1-1 6 6 0 0 1 6 6 1 1 0 1 1-2 0 4 4 0 0 0-4-4 1 1 0 0 1-1-1z'/></svg>");
  background-repeat: no-repeat;
  width: 1rem;
  height: 1rem;
}

/*
 * BOOTSTRAP OVERRIDES
 */

ul {
    list-style-type: square;
}

.btn {
    border-radius: 0;
    border: 0;
}

.btn-primary {
    background-color: rgba(120, 120, 120, 1)
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
    background-color: rgba(140, 140, 140, 1);
}

.form-control {
    border-radius: 0;
}

 .list-group {
    border-radius: 0;
 }

.dropdown-menu {
    color: #fff;
    border-radius: 0;
    border: 0;
    background: rgba(120, 120, 120, 1);
}

.dropdown-item {
    text-transform: uppercase;
}

.dropdown-item:focus,
.dropdown-item:hover {
    background: transparent;
    text-decoration: underline;
}



/*
 * Dropdown menu onhover
 */.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}



/*
 * BRANDING ASEAN-QA
 */

.asean a,
.asean a:active,
.asean a:hover,
.asean a:focus,
.asean a:visited {
    color: rgba(0, 147, 197, 1);
}

.asean .btn-primary {
    background-color: rgba(0, 147, 197, 1);
}

.asean .btn-primary:hover,
.asean .btn-primary:focus,
.asean .btn-primary:not(:disabled):not(.disabled).active,
.asean .btn-primary:not(:disabled):not(.disabled):active,
.asean .show>.btn-primary.dropdown-toggle {
    background-color: rgba(5, 52, 101, 1);
}

.asean header .navbar {
    background: rgb(0, 147, 197);
    background: -webkit-radial-gradient(bottom left, rgba(0, 147, 197, 1) 0%, rgba(5, 52, 101, 1) 60%);
    background: radial-gradient(at bottom left, rgba(0, 147, 197, 1) 0%, rgba(5, 52, 101, 1) 60%);
}

.asean footer {
    background: rgb(0, 147, 197);
    background: -webkit-radial-gradient(bottom left, rgba(0, 147, 197, 1) 0%, rgba(5, 52, 101, 1) 60%);
    background: radial-gradient(at bottom left, rgba(0, 147, 197, 1) 0%, rgba(5, 52, 101, 1) 60%);
}

.asean .dropdown-content {
    background: rgba(131, 182, 201, 1);
}

/*
 * BRANDING SADC-QA
 */

.sadc a,
.sadc a:active,
.sadc a:hover,
.sadc a:focus,
.sadc a:visited {
    color: #51AE75;
}

.sadc .btn-primary {
    background-color: #51AE75;
}

.sadc .btn-primary:hover,
.sadc .btn-primary:focus,
.sadc .btn-primary:not(:disabled):not(.disabled).active,
.sadc .btn-primary:not(:disabled):not(.disabled):active,
.sadc .show>.btn-primary.dropdown-toggle {
    background-color: rgba(25, 92, 50, 1);
}

.sadc header .navbar {
    background: rgb(52, 194, 104);
    background: -webkit-radial-gradient(bottom left, #51AE75 0%, rgba(25, 92, 50, 1) 60%);
    background: radial-gradient(at bottom left, #51AE75 0%, rgba(25, 92, 50, 1) 60%);
}

.sadc footer {
    background: rgb(25, 92, 50, 1);
    /* background: -webkit-radial-gradient(bottom left, #51AE75 0%, rgba(25, 92, 50, 1) 60%); */
    /* background: radial-gradient(at bottom left, #51AE75 0%, rgba(25, 92, 50, 1) 60%); */
}

.sadc .dropdown-content {
    background: rgba(131, 201, 167, 1);
}
